page-my-estates {
    .item item-block item-md{
        border: 1px solid rgb(112, 17, 73);
        border-radius:3px; 
        background-color:rgb(2, 192, 2); 
        font-weight: bold; 
        color:rgb(245, 245, 245); 
        text-align:center;
    }
}
